###Instalación Spark, creación de sesión y unidad personal de Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!ls

drive  sample_data

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!wget https://downloads.apache.org/spark/spark-3.5.3/spark-3.5.3-bin-hadoop3.tgz

In [ ]:
!wget -q http://apache.mirrors.pair.com/spark/spark-3.5.3/spark-3.5.3-bin-hadoop3.tgz

In [ ]:
!ls

drive  sample_data  spark-3.5.3-bin-hadoop3.tgz

In [ ]:
!tar xf spark-3.5.3-bin-hadoop3.tgz

In [ ]:
!pip install -q findspark
!pip install matplotlib

Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy<2,>=1.21 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.3-bin-hadoop3"
import findspark
findspark.init()
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
findspark.find()

'/content/spark-3.5.3-bin-hadoop3'

In [ ]:
from scipy import stats
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = SparkSession.builder\
        .master("local")\
        .appName("Pyspark_SQL")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [ ]:
spark

DESARROLLO, ejercicio 3:


Cargar el conjunto de datos en un dataframe

In [ ]:
data_path = '/content/drive/MyDrive/TokioSchool/data_curso/'

df = spark.read.options(header=True, inferSchema=True).csv(data_path + 'Air_Traffic_Passenger_Statistics.csv')

¿Cuántas compañías diferentes aparecen en el fichero?

In [ ]:
df.select('Operating Airline').distinct().count()

77

¿Cuántos pasajeros tienen de media los vuelos de cada compañía?

In [ ]:
df_compañia = df.groupBy('Operating Airline').agg (F.mean('Passenger Count').alias('mean_passenger_count'))
df_compañia.show()

+--------------------+--------------------+
|   Operating Airline|mean_passenger_count|
+--------------------+--------------------+
|          Icelandair|              2799.7|
|         Ameriflight|                 5.0|
|      Cathay Pacific|  17121.325581395347|
|          Aeromexico|   5463.822222222222|
|      Etihad Airways|   6476.088235294118|
| Philippine Airlines|  10248.635658914729|
|United Airlines -...|   48915.46750232126|
|    Turkish Airlines|   8162.416666666667|
| Swiss International|   6061.640287769784|
|    Independence Air|              6391.3|
|Miami Air Interna...|             107.375|
|          Air France|  11589.077519379845|
|      Japan Airlines|   6470.332046332046|
|    Midwest Airlines|              3883.0|
|      Atlas Air, Inc|                34.0|
|    JetBlue Airways |   35261.13963963964|
|       China Eastern|   5498.402777777777|
|   Mexicana Airlines|   7993.806451612903|
|         Air Canada |  18251.560109289618|
|       Allegiant Air|           1516.8125|
+--------------------+--------------------+
only showing top 20 rows

In [ ]:
top5_compañias = df_compañia.orderBy (F.desc('mean_passenger_count')).limit(5)
top5_compañias.show()

low5_compañias = df_compañia.orderBy (F.asc('mean_passenger_count')).limit(5)
low5_compañias.show()

+------------------+--------------------+
| Operating Airline|mean_passenger_count|
+------------------+--------------------+
| American Airlines|  127164.38970588235|
|Southwest Airlines|   81188.15857605178|
|    Virgin America|   74405.35359116022|
|   United Airlines|   72732.05829596413|
|   Delta Air Lines|   68498.49740932643|
+------------------+--------------------+

+--------------------+--------------------+
|   Operating Airline|mean_passenger_count|
+--------------------+--------------------+
|Evergreen Interna...|                 2.0|
|         Ameriflight|                 5.0|
|      Boeing Company|                18.0|
|      Atlas Air, Inc|                34.0|
|        Xtra Airways|                73.0|
+--------------------+--------------------+

In [ ]:
# Visualizamos con collect para poder mostrar la media de las 77 compañias, ya que con .show() es más visual pero solo muestra 20 filas.
resultados = df_compañia.collect()

# Mostrar los resultados
for fila in resultados:
    print(fila)

Row(Operating Airline='Icelandair', mean_passenger_count=2799.7)
Row(Operating Airline='Ameriflight', mean_passenger_count=5.0)
Row(Operating Airline='Cathay Pacific', mean_passenger_count=17121.325581395347)
Row(Operating Airline='Aeromexico', mean_passenger_count=5463.822222222222)
Row(Operating Airline='Etihad Airways', mean_passenger_count=6476.088235294118)
Row(Operating Airline='Philippine Airlines', mean_passenger_count=10248.635658914729)
Row(Operating Airline='United Airlines - Pre 07/01/2013', mean_passenger_count=48915.46750232126)
Row(Operating Airline='Turkish Airlines', mean_passenger_count=8162.416666666667)
Row(Operating Airline='Swiss International', mean_passenger_count=6061.640287769784)
Row(Operating Airline='Independence Air', mean_passenger_count=6391.3)
Row(Operating Airline='Miami Air International', mean_passenger_count=107.375)
Row(Operating Airline='Air France', mean_passenger_count=11589.077519379845)
Row(Operating Airline='Japan Airlines', mean_passenger_count=6470.332046332046)
Row(Operating Airline='Midwest Airlines', mean_passenger_count=3883.0)
Row(Operating Airline='Atlas Air, Inc', mean_passenger_count=34.0)
Row(Operating Airline='JetBlue Airways ', mean_passenger_count=35261.13963963964)
Row(Operating Airline='China Eastern', mean_passenger_count=5498.402777777777)
Row(Operating Airline='Mexicana Airlines', mean_passenger_count=7993.806451612903)
Row(Operating Airline='Air Canada ', mean_passenger_count=18251.560109289618)
Row(Operating Airline='Allegiant Air', mean_passenger_count=1516.8125)
Row(Operating Airline='Northwest Airlines', mean_passenger_count=26109.25)
Row(Operating Airline='Sun Country Airlines', mean_passenger_count=3992.652)
Row(Operating Airline='Evergreen International Airlines', mean_passenger_count=2.0)
Row(Operating Airline='Horizon Air ', mean_passenger_count=5577.583333333333)
Row(Operating Airline='United Airlines', mean_passenger_count=72732.05829596413)
Row(Operating Airline='World Airways', mean_passenger_count=261.6666666666667)
Row(Operating Airline='Virgin America', mean_passenger_count=74405.35359116022)
Row(Operating Airline='Jet Airways', mean_passenger_count=4280.3125)
Row(Operating Airline='British Airways', mean_passenger_count=17625.124031007752)
Row(Operating Airline='Swissport USA', mean_passenger_count=258.6)
Row(Operating Airline='Servisair', mean_passenger_count=90.05555555555556)
Row(Operating Airline='Hawaiian Airlines', mean_passenger_count=8282.186046511628)
Row(Operating Airline='Virgin Atlantic', mean_passenger_count=9847.10465116279)
Row(Operating Airline='SAS Airlines', mean_passenger_count=5865.847222222223)
Row(Operating Airline='TACA', mean_passenger_count=5066.197674418605)
Row(Operating Airline='KLM Royal Dutch Airlines', mean_passenger_count=9221.813953488372)
Row(Operating Airline='Boeing Company', mean_passenger_count=18.0)
Row(Operating Airline='ExpressJet Airlines', mean_passenger_count=5631.84375)
Row(Operating Airline='Compass Airlines', mean_passenger_count=23358.55681818182)
Row(Operating Airline='Lufthansa German Airlines', mean_passenger_count=19301.96511627907)
Row(Operating Airline='SkyWest Airlines', mean_passenger_count=37083.83904465213)
Row(Operating Airline='Asiana Airlines', mean_passenger_count=5902.961240310077)
Row(Operating Airline='China Airlines', mean_passenger_count=9857.51550387597)
Row(Operating Airline='Frontier Airlines', mean_passenger_count=17787.676923076924)
Row(Operating Airline='American Airlines', mean_passenger_count=127164.38970588235)
Row(Operating Airline='Air China', mean_passenger_count=6618.335907335907)
Row(Operating Airline='Air Berlin', mean_passenger_count=2320.75)
Row(Operating Airline='Delta Air Lines', mean_passenger_count=68498.49740932643)
Row(Operating Airline='Korean Air Lines', mean_passenger_count=5678.461240310077)
Row(Operating Airline='AirTran Airways', mean_passenger_count=10569.238938053097)
Row(Operating Airline='All Nippon Airways', mean_passenger_count=6385.523255813953)
Row(Operating Airline='Singapore Airlines', mean_passenger_count=14746.647286821706)
Row(Operating Airline='China Southern', mean_passenger_count=4321.4375)
Row(Operating Airline='US Airways', mean_passenger_count=55317.81578947369)
Row(Operating Airline='Air Canada Jazz', mean_passenger_count=294.2142857142857)
Row(Operating Airline='Emirates ', mean_passenger_count=9070.866666666667)
Row(Operating Airline='Pacific Aviation', mean_passenger_count=160.0)
Row(Operating Airline='Air India Limited', mean_passenger_count=2834.5)
Row(Operating Airline='Atlantic Southeast Airlines', mean_passenger_count=2176.909090909091)
Row(Operating Airline='American Eagle Airlines', mean_passenger_count=4006.5283018867926)
Row(Operating Airline='Qantas Airways', mean_passenger_count=4991.2164179104475)
Row(Operating Airline='COPA Airlines, Inc.', mean_passenger_count=3418.0714285714284)
Row(Operating Airline='Alaska Airlines', mean_passenger_count=17251.637816245006)
Row(Operating Airline='Xtra Airways', mean_passenger_count=73.0)
Row(Operating Airline='Republic Airlines', mean_passenger_count=2452.5)
Row(Operating Airline='Mesaba Airlines', mean_passenger_count=2864.7272727272725)
Row(Operating Airline='Air New Zealand', mean_passenger_count=7452.339768339768)
Row(Operating Airline='Spirit Airlines', mean_passenger_count=2921.0416666666665)
Row(Operating Airline='ATA Airlines', mean_passenger_count=8744.636363636364)
Row(Operating Airline='BelAir Airlines', mean_passenger_count=415.3636363636364)
Row(Operating Airline='Aer Lingus', mean_passenger_count=4407.183673469388)
Row(Operating Airline='WestJet Airlines', mean_passenger_count=5338.155339805825)
Row(Operating Airline='Mesa Airlines', mean_passenger_count=3710.5811965811968)
Row(Operating Airline='LAN Peru', mean_passenger_count=2786.011111111111)
Row(Operating Airline='Southwest Airlines', mean_passenger_count=81188.15857605178)
Row(Operating Airline='XL Airways France', mean_passenger_count=2223.1612903225805)
Row(Operating Airline='EVA Airways', mean_passenger_count=13116.356589147286)

Eliminaremos los registros duplicados por el campo “GEO Región”, manteniendo
únicamente aquel con mayor número de pasajeros.

In [ ]:
max_passengers = df.groupBy("GEO Region").agg(F.max("Passenger Count").alias("max_passenger_count"))
max_passengers.show()

+-------------------+-------------------+
|         GEO Region|max_passenger_count|
+-------------------+-------------------+
|             Europe|              48136|
|    Central America|               8970|
|                 US|             659837|
|      South America|               3685|
|             Mexico|              29206|
|        Middle East|              14769|
|             Canada|              39798|
|Australia / Oceania|              12973|
|               Asia|              86398|
+-------------------+-------------------+

Volcaremos los resultados de los dos puntos anteriores a un CSV.

In [ ]:
df_compañia.coalesce(1).write \
  .mode("overwrite") \
  .format("csv") \
  .option("header", "true") \
  .save("/content/drive/MyDrive/TokioSchool/data/")

In [ ]:
max_passengers.coalesce(1).write \
  .mode("overwrite") \
  .format("csv") \
  .option("header", "true") \
  .save("/content/drive/MyDrive/TokioSchool/data_1/")

spark.stop()